body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(233, 230, 226);
}

.search-container {
  max-width: 1270px;
  margin: 50px auto;
  background-color: rgb(233, 230, 226);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group {
  flex-basis: calc(25% - 10px);
  margin-bottom: 15px;
  margin-top: 12px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.search {
  border-radius: 40px;
  color: rgb(233, 230, 226);
  padding: 5px;
  border: 0;
  font-size: 1.8;
  cursor: pointer;
  flex-basis: 100%;
  background-color: blue;
}

.picture1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300vh;
  margin-top: 20px;
  display: block;
}

.image-button {
  padding: 10px;
  position: relative;
  height: auto;
  color: white;
  border: 2px solid silver;
  box-shadow: inset;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.room p {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  white-space: nowrap;
}

.room p.description {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translateX(-50%);
  margin: 0;
  padding: 10px;
  color: green;
  border-radius: 5px;
}

.room p.free {
  position: absolute;
  top: 60%;
  left: 46%;
  transform: translateX(-50%);
  margin: 0;
  padding: 10px;
  color: rgb(121, 120, 120);
  border-radius: 5px;
}

.room p.member {
  position: absolute;
  top: 20%;
  left: 90%;
  transform: translateX(-50%);
  margin: 0;
  padding: 10px;
  color: green;
  border-radius: 5px;
}

.room p.only {
  position: absolute;
  top: 30%;
  left: 90%;
  transform: translateX(-50%);
  margin: 0;
  padding: 10px;
  color: rgb(87, 80, 80);
  border-radius: 5px;
}

.room p.sale {
  position: absolute;
  top: 40%;
  left: 90%;
  transform: translateX(-50%);
  margin: 0;
  padding: 10px;
  color: black;
  border-radius: 5px;
}

.room p.usd {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateX(-50%);
  margin: 0;
  padding: 10px;
  color: rgb(77, 70, 70);
  border-radius: 5px;
}

.room p.exc {
  position: absolute;
  top: 55%;
  left: 90%;
  transform: translateX(-50%);
  margin: 0;
  padding: 10px;
  color: rgb(88, 79, 79);
  border-radius: 5px;
}

.room p.view {
  position: absolute;
  top: 60%;
  left: 90%;
  transform: translateX(-50%);
  margin: 0;
  padding: 10px;
  color: green;
  border-radius: 5px;
}

.price {
  position: absolute;
  top: 60%;
  left: 90%;
  transform: translateX(-50%);
  margin: 0;
  padding: 10px;
  color: green;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .search-container {
      max-width: 100%;
  }

  .form-group {
      flex-basis: 100%;
  }

  .image-button {
      margin-right: 10px;
      margin-left: 10px;
  }

  .room p {
      left: 50%;
  }
}