body{
  background-image: url('images/backround.jpg');
  
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.card{
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);

}
h1{
  font-size:2em;
  text-align: center;
}
.check{
  display: block ;
  justify-content: space-around;
}

.srch{
  background-color: orangered;
  float: right;
  width: 25%;
  color: black;
  text-align: center;
}
.search{
  margin-top: 20px;
}